
<div *ngIf="parking">

<p [style.text-decoration]= "boolean ? 'underline' : 'none' " class="text">Nb de places</p>

<div *ngIf="boolean; else elseBlock" class="container">

  <button class="btn-check" (click)="onLaunchNavigation()">{{messageBtnLeft }}
    <div class="cercleIcon">
      <img [src]="pathIconLeft" alt="check">
    </div>
  </button>

  <p class="nbPlaces"> {{parking.freeCapacity }}</p>

  <button class="btn-cross" (click)="close()">
    <div class="cercleIcon">
    <img [src]="pathIconRight" alt="cross">
    </div>
    {{ messageBtnRight }}
  </button>
</div>


<ng-template #elseBlock>

  <div class="container">
    <button class="btn-check">{{messageBtnLeft }}
      <div class="cercleIcon" >
        <img [src]="pathIconLeft" alt="check">
      </div>
    </button>

</div>
</ng-template>
</div>