<p [style.text-decoration]= "boolean ? 'underline' : 'none' " class="text">Lorem ipsum</p>

<div *ngIf="boolean; else elseBlock" class="container">

  <button class="btn-check">{{messageBtnLeft }}
    <div class="cercleIcon">
      <img [src]="pathIconLeft" alt="check">
    </div>
  </button>

  <p class="nbPlaces"> {{ nbPlaces }}</p>

  <button class="btn-cross">
    <div class="cercleIcon">
    <img [src]="pathIconRight" alt="cross">
    </div>
    {{ messageBtnRight }}
  </button>
</div>


<ng-template #elseBlock>

  <div class="container">
    <button class="btn-check">{{messageBtnLeft }}
      <div class="cercleIcon">
        <img [src]="pathIconLeft" alt="check">
      </div>
    </button>

</div>
</ng-template>
