<!-- ## MAIN APP - HOME ## -->
<!-- app-map in background -->
<app-map id="spark-map"></app-map>
<!-- app-itinerary itinerary ui element -->
<app-itinerary id="spark-itinerary"></app-itinerary>
<!--app-address-bar></!--app-address-bar-->
<app-navbar></app-navbar>
<app-bottom-popup-interactive ></app-bottom-popup-interactive>

<app-profil [hidden]="!showProfil"></app-profil>
<app-address-bar [hidden]="!showAddressBar"></app-address-bar>
<app-navbar (showAddressBar) = "onShowAddressBar($event)" (showProfil) = "onDisplayProfil($event)"></app-navbar>
