
<div [hidden] = "!show" class="container-address">
  <div class="auto-suggestion" (click)="chooseAdress(adress.label)"  *ngFor="let adress of departure">
    <p class="adress-item">{{adress.label}} </p>
  </div>
</div>



<form class="addressBarForm" (ngSubmit)="submit()">

  <label for="address" class="label">Entrez votre destination</label>

  <div class="inputBloc">

    <img class="icon star" src="assets/popup-message/star.svg" />

    <input [(ngModel)]="searchAddress" class="fieldAddress"  name="searchAddress" type="text"
     autocomplete="off" (input)="eventInput()" >



    <button class="btn-search" type="submit">
      <img class="icon search" src="assets/addressBar/search.svg" />
    </button>
  </div>
</form>
