.container {

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;

}

.favorite-message {
  color: white;
  margin-left: 10px;

}

img {

  width: 2rem;
}


