.container-popup{

  background-color: #bcbbbb6c;
  border : solid 0.2px #BCBBBB;
  border-bottom: none;
  border-radius: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 30px 40px;

}


