.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.message-important {
  color: white;
  font-weight: bold;
}

.message {
  color: white;
}
