<div class="container-popup showPopup">

  <p class="title">Profil</p>
  <div class="container-txt">
    <p [ngStyle]="{'margin-top': '10px'}" class="message" *ngIf="currentUser"></p>


    <!-- <p class="message">Pseudo : {{currentUser.username }} </p>
      <p class="message"> Mail : {{ currentUser.email }}</p> -->

    <p class="username">{{currentUser.username}}</p>
    <p class="message-info">Vos informations personnelles</p>
    <p class="mail"> {{currentUser.email}}</p>
    <p class="gain"> 10 points spark</p>

    <button (click)="logout()" class="btn-check">
      <p class="txt-button" routerLink="/home" (click)="logout()">DECONNEXION</p>
    </button>
  </div>
</div>
