/* Rectangle 6 */
.addressBarForm {
  // width: 100%;
  // background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-grow: 1;
  // flex-direction: row;
  // justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.icon {
  height: 30px;
  width: 30px;
}

.label {
  color: white;
  // display: block;
  // float: left;
  // white-space: nowrap;
}

.fieldAddress {

  color: white;
  background: rgba(188, 187, 187, 0.33);
  border: 1px solid #BCBBBB;
  border-radius: 30px;
  padding: 10px 40px;
  text-align: center;
  width: 100%;
  font-size: 0.7em;

}

.inputBloc {

  display: flex;
  align-items: center;
  width: 100%;

}
