/* Rectangle 6 */
.addressBarForm {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
}

.label {
  color: white;
  margin-left: 35px;
}

.inputBloc {

  display: flex;
  align-items: center;
}

.fieldAddress {

  color: white;
  background-color: rgba(188, 187, 187, 0.33);
  border: 1px solid #BCBBBB;
  border-right: none;
  border-left: none;
  font-size: 0.8em;
  height: 36px;
  width: 100%;
  border-radius: 25px;
  padding: 0 50px;
  z-index: 1;
}


.icon {

  width: 20px;
}

.btn-search {
  background-color: #4E9633;
  border-radius: 0 30px 30px 0;
  border: 1px solid #BCBBBB;
  border-left: none;
  height: 36px;
  position: relative;
  right: 25px;
  padding-right: 5;
  z-index: 2;
  width: 55px;
}

.star {
  position: relative;
  left: 35px;
}
