<form class="addressBarForm" (submit)="onSubmit()">

  <label for="address" class="label">Entrez votre destination</label>

  <div class="inputBloc">

   <div class="event-star">
    <img class="icon star" src="assets/addressBar/star.svg" />
   </div>


    <input class="fieldAddress" id="address" type="text" formControlName="address" name="address"
      placeholder="Entrez votre destination" #address>

    <button class="btn-search" type="submit">
      <img class="icon search" src="assets/addressBar/search.svg" />
    </button>
    <div style="color:brown">{{addressBarForm |json}} {{address.value|json}}</div>
  </div>
</form>


