<div >
<form class="addressBarForm" (submit)="onSubmit()">
   
    
        <a >
            <img  class ="icon" src="assets/addressBar/star.svg" />
        </a>
    
   
        <label for="address" class="label">Entrez votre destination</label>
        <input  class="fieldAddress"  id="address" type="text" formControlName="address" name="address" placeholder="Entrez votre destination" #address>
    
    
        <button type ="submit" >
            <img  class ="icon" src="assets/addressBar/loupe.svg" />
        </button>
        <div style="color:brown">{{addressBarForm |json}} {{address.value|json}}</div>
</form>

</div>
